@charset "utf-8";
@import "_var", "_mixin", "_function";

#cnt1 {
  overflow: hidden;position: relative; background: url("../images/PC/cnt1/bg.jpg") no-repeat center center / cover;height: 100vh;
  .txt_wrap {
    @include translateY-50;
    position: absolute;top: 50%;left: 120px;
    h1 {
      font-family: playfair;font-size: 90px;font-weight: 700;color: $green;padding-bottom: 20px;
      span {color: $brown;}
    }
  }
  .machine {
    @include translateY-50;
    position: absolute;width: 400px;right: 30%;top: 50%;z-index: 10;
  }
  .move_bg {
    img {
      position: absolute;top: 0;left: 45%;width: 1200px;height: 1200px;opacity: 0.3;animation: circle_text 30s infinite linear;
    }
    @keyframes circle_text {
      0% {transform: rotate(0deg);}
      100% {transform: rotate(360deg);}
    }
  }

  #icon {
    font-size: 20px;
    #gran,#milk {
      position: relative;position: absolute;
      
    }
    #gran {
      top: 40%;right: 10%;
      img {
        position: absolute;top: 50px;right: -50px;width: 96px;height: 96px;
      }
    }
    #milk {
      top: 60%;right: 10%;
      img {
        position: absolute;top: 60px;right: -50px;width: 55px;height: 62px;
      }
    }
  }
}

#cnt2 {
  .main_txt{padding-bottom: 0;}
   color: $gray;padding: 200px 0;
   .swiper-container{
     position: relative;padding-top: 100px;
     .swiper-slide {
    .d_f { 
      @include flex;
      @include justify-content(space-around);
      width: 100%;height: 100%;
      .side_txt {
        width: 40%;
        .s_top {padding-bottom: 10px;}
        strong {
          font-size: 40px; color: $brown;
        }
        .s_bottom {
          padding: 40px 0;letter-spacing: normal;line-height: 1.5;
        }
        .color_wrap {padding-bottom: 40px;
          img {margin-right: 10px;}
        }
      }
      .product {
        position: relative;
        .bg_txt {
          font-weight: 700;opacity: 0.2;
        }

        .machine {
          @include translateX-50;
          position: absolute;top: 0px;left: 50%;
        }
      }
    }
     }
     .controller{
      position: absolute;top: 15%;right: 10px;
       .swiper-button-wrap{
         @include flex;
        .swiper-button-prev,.swiper-button-next{position: static;} 
        .swiper-button-prev::after, .swiper-button-next::after{font-size: 2em;font-family: xeicon;}
        .swiper-button-prev::after{content:"\e93c";}
        .swiper-button-next::after{content:"\e93f";}
      }
      .swiper-auto-wrap{
        .swiper-auto-play, .swiper-auto-pause{
          @include translate-50;
          position: absolute;top: 0;left: -10px;
        }
      }
    }
   }
  
  

  #slide1, #slide2, #slide3, #slide4, #slide5{
    .bg_txt{font-size: 190px;}
  }
  #slide1{
    .machine{width: 280px;}
  }
  #slide2{
    .bg_txt{font-size: 170px;}
    .machine{width: 350px;}
  }
  #slide3{
    .machine{width: 300px;}
  }
  #slide4,#slide5{
    .bg_txt{font-size: 150px;text-align: center;}
    .machine{width: 400px;}
  }
}

#cnt3{
  position: relative;color: $gray;padding-bottom: 200px;
  .shot_size{
    position: absolute;top: 180px;right: 0;padding-right: 100px;text-align: right;
    div{
      padding-top: 10px;
      span{padding-right: 30px;}
    }
  }
  .swiper-slide{
    height: 400px;display:flex;align-items: flex-end;
    .capsual{
      position:relative;border: 1px solid $gray;box-shadow: 10px 5px 5px $gray;width: 253px;height: 168px;text-align: center;margin: 0 auto;transition: height 0.5s;
      strong{display: inline-block;font-size: 30px;padding: 20px 0;}
      img{opacity: 0;position: absolute;bottom: 0;right: 0;z-index: 1;transition: opacity 0.3s;}
      .level{
        position: relative;opacity: 0;
        p{padding: 5px 15px;}
        p:first-child {color: $brown;font-size: 17px;font-weight: 500;}
        p:last-of-type{font-size: 13px;line-height: 1.5;font-family: karla;}
        a{
          position: absolute;bottom: -60px;left: 20px;font-size: 15px;color:$green;border: 1px solid $green;border-radius: 5px;padding: 5px;z-index: 10;
          &:hover, &:focus{color: #fff;background: $green;}
          }
      }
      .level {
        span:not(:first-child){display: inline-block;background: $gray;width: 17px;height: 17px;margin: 5px;}
      }
      &::before{
        @include translateX-50;
        content:"";position:absolute;bottom: 10px;background: url(../images/PC/cnt3/capsual_ico.png)no-repeat;width: 94px;height: 58px;left: 50%;
      }
      
    }


    &.swiper-slide-active{
      .capsual{ 
        height: 400px;
        &::before{opacity: 0;}
        img{opacity: 1;}
        .level{opacity:1;}
       
      }
       #capsual_gionio {
          strong{color: #e26713;}
        }
        #capsual_mexico {
          strong{color: #3a5730;}
        }
        #capsual_odacio {
          strong{color: #00516d;}
        }
        #capsual_solelio {
          strong{color: #e4b80a;}
        }
        #capsual_elvazio {
        strong{color: #a96d96;}
        }
    }
  }
    
}

#cnt4{
  @include flex;
  @include flex-wrap(no-wrap);
  .txt_wrap2{
    width: 50%;padding-left: 50px;height: 90vh;position: sticky;top: 40%;
    h4{font-size: 65px;color: $green;}
    p{margin: 30px 0;line-height: 1.5;}
  }
  #effect{
    width: 50%;top: 0;
      .pic_wrap{
        .pic1, .pic2, .pic3{background: no-repeat center center;height: 90vh;;margin-bottom: 10px;}
        .pic1{background-image: url(../images/PC/cnt4/greenmoment1.jpg)}
        .pic2{background-image: url(../images/PC/cnt4/greenmoment2.jpg);}
        .pic3{background-image: url(../images/PC/cnt4/greenmoment3.jpg);}
      }
  }
}

#cnt5{
   height: 100%;color: $gray;cursor: url("../images/PC/cnt1/mouse.png"), auto;padding: 200px 0;
  .bg_txt{
    font-family: playfair;color: $green;font-size: 70px;text-align: center;font-weight: 700;padding-bottom: 100px;
  }
  h5{
    position: relative;
    font-family: spoqa;font-size: 70px;
    &::before{content:"";position: absolute;bottom: 0;width: 350px;height: 10px;background: $green;opacity: 0.6;z-index: -1;}
  }
  P{padding:20px 0;font-size: 50px;}

  .vertuo, .original{
      @include flex;
      @include align-items;
      @include justify-content;
      padding: 100px 50px;
      >a::after{content:"\eaee";font-family: "xeicon";font-size: 2em;opacity: 0;}
    }
   
  .vertuo{
    height: 500px;
    .vertuo_main{
      padding-left: 70px;
       &:hover{
         transform: rotate(-5deg);
         &::after{opacity: 1;color: $brown;}
        }
     }
      h5{color: $green;}
  }
  .txt_wrap{padding: 80px;}
  .original{
    text-align: right;height: 500px;
    .original_main{
      &:hover{
        transform: rotate(5deg);
       &::after{opacity: 1;color: $Mgreen;} 
      }
      
    }
    h5{color: $brown;
      &::before{background-color: $beige;}
    }
  }
  
}

#cnt6{
  .cover{
    position: relative;text-align: center;
    background: url("../images/PC/cnt5/viewmore.jpg") no-repeat top left / cover;width: 100%;height: 533px;
    .txt_cover{
      padding-top: 100px;line-height: 2;
      p{
        font-size: 40px;background: linear-gradient(to right,$green,$brown);font-weight: 700;-webkit-background-clip: text;-webkit-text-fill-color: transparent;
      }
      button{margin-top: 40px;}
    }
  }
}

#dim, .md_cnt{position: fixed;z-index: 1000;}
  #dim{top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, .8);}
  .md_cnt{
    @include translate-50;
    top: 50%;left: 50%;
    .btn_close_modal{position: absolute;top: -10px;right: 0;}
  }


// 작은 PC
@media screen and (max-width: 1440px) {
  #cnt1 {
    .txt_wrap {
      left: vw-calc1440(120);
      h1 {font-size: vw-calc1440(90);padding-bottom: vw-calc1440(20);}
    }
    .machine {top: 55%;left: 50%;width: 350px;}
    .move_bg {
      img {width: vw-calc1440(1200);height: vw-calc1440(1200);}
    }
  
    #icon {
      font-size: vw-calc1440(20);
      #gran {
        img {
          top: vw-calc1440(50);right: vw-calc1440(-50);width: vw-calc1440(96);height: vw-calc1440(96);
         }
      }
      #milk {
        img {
          top: vw-calc1440(60);right: vw-calc1440(-50);width: vw-calc1440(55);height: vw-calc1440(62);
        }
      }
    }
  }
  #cnt3{
    padding-bottom: vw-calc1440(200);
    .shot_size{
      top: vw-calc1440(180);padding-right: vw-calc1440(100);
      div{
        padding-top: vw-calc1440(10);
        span{padding-right: vw-calc1440(30);}
      }  
    }
    .swiper-slide{
      height: vw-calc1440(400);
      .capsual{
        border: vw-calc1440(1) solid $gray;box-shadow: vw-calc1440(10) vw-calc1440(5) vw-calc1440(5) $gray;width: vw-calc1440(253);height: vw-calc1440(150);
        strong{font-size: vw-calc1440(30);padding: vw-calc1440(20) 0;}
        .level{
          p{padding: vw-calc1440(5) vw-calc1440(15);}
          p:first-child {font-size: vw-calc1440(17);}
          p:last-of-type{font-size: vw-calc1440(13);}
          a{
            bottom: vw-calc1440(-60);left: vw-calc1440(30);font-size: vw-calc1440(16);font-size: vw-calc1440(18);
            &::before{bottom: vw-calc1440(-5);height: vw-calc1440(1);}
            }
        }
        .level {
          span:not(:first-child){width: vw-calc1440(17);height: vw-calc1440(17);margin: vw-calc1440(5);}
        }
      }
  
      &.swiper-slide-active{
        .capsual{ 
          height: vw-calc1440(350);
        }
      }
    }
      
  }
  #cnt4{
    .txt_wrap2{
      padding-left: vw-calc1440(50);
       h4{font-size: 48px;}
       p{margin: vw-calc1440(30) 0;}
    }
  }
  #cnt5{
    padding: vw-calc1440(100) 0;
    .bg_txt{font-size: vw-calc1440(70);}
    h5{
      font-size: vw-calc1440(70);
      &::before{width: vw-calc1440(350);height: vw-calc1440(10);}
    }
    P{padding:vw-calc1440(20) 0;font-size: vw-calc1440(50);}
    .vertuo{
       height: vw-calc1440(500);
      .vertuo_main{padding-left: vw-calc1440(70);}
    }
    
    .original{padding-right: vw-calc1440(70);height: vw-calc1440(500);}
  }
 
}

// 작은 PC
@media screen and (max-width: 1350px) {
  #cnt1 {
    .txt_wrap {
      left: 60px;
      h1 {
        font-size: vw-calc1350(90);padding-bottom: vw-calc1350(20);
      }
    }
    .machine {top: 55%;left: 50%;width: vw-calc1350(350);}
    .move_bg {
      img {
        top: 60px;width: vw-calc1350(1200);height: vw-calc1350(1200);
      }
    }
  
    #icon { 
      #gran {
        img {
          top: vw-calc1350(50);right: vw-calc1350(-50);width: vw-calc1350(96);height: vw-calc1350(96);
        }
      }
      #milk {
        img {
          top: vw-calc1350(60);right: vw-calc1350(-50);width: vw-calc1350(55);height: vw-calc1350(62);
        }
      }
    }
  }

  #cnt2 {
    padding: vw-calc1350(200) 0;
   .swiper-slide {
     .d_f { 
       .side_txt {
         .s_top {padding-bottom: vw-calc1350(10);}
         strong {
           font-size: vw-calc1350(40); color: $brown;
         }
         .s_bottom {padding: vw-calc1350(40) 0;}
         .color_wrap {padding-bottom: vw-calc1350(40);
           img {margin-right: vw-calc1350(10);}
         }
       }
     }
   }
 
   #slide1, #slide2, #slide3, #slide4, #slide5{
     .bg_txt{font-size: vw-calc1350(190);}
   }
   #slide1{
     .machine{width: vw-calc1350(280);}
   }
   #slide2{
     .bg_txt{font-size: vw-calc1350(170);}
     .machine{width: vw-calc1350(350);}
   }
   #slide3{
     .machine{width: vw-calc1350(300);}
   }
   #slide4,#slide5{
     .bg_txt{font-size: vw-calc1350(150);}
     .machine{width: vw-calc1350(400);}
   }
 }

 #cnt3{
   .capsual{
     img{width: 60%;}
   }
 }
  
  #cnt4{
    .txt_wrap2{
       h4{font-size: vw-calc1350(48);}
       p{font-size: vw-calc1350(16);}
    }
  }

  #cnt5{
    .vertuo{
      .vertuo_main{height: vw-calc1350(250);}
    }
    
    .original{
      padding-top: 100px;
      .vertuo_main{height: vw-calc1350(250);}
      
    }
  }

  #cnt6{
    .cover{
      background: url("../images/PC/cnt5/viewmore_tablet.jpg") no-repeat top left / cover;width: 100%;height: 301px;
      .txt_cover{
        button{margin-top: 40px;}
      }
    }
  }
}

//태블릿
@media screen and (max-width: 1024px) {
  #wrap{
    button{padding: vw-calc1024(8) vw-calc1024(15);font-size: vw-calc1024(13);}
  }
  #cnt1 {
    background: url("../images/T/cnt1/bg.jpg") no-repeat center center / cover;height: 100vh;
    .txt_wrap {
      position: absolute;top: 54%;left: vw-calc1024(60);
      h1 {
        font-size: vw-calc1024(70);padding-bottom: vw-calc1024(20);
      }
    }
    .machine {width: 280px;left: 60%;}
    .move_bg {
      img {
        @include translateY-50;
        left: 50%;width: 700px;height: 700px;
      }
    }
  
    #icon {display: none;}
  }
  #cnt2 {
    h2{font-size: vw-calc1024(55);}
   .swiper-slide {
     .d_f { 
       .side_txt {
         padding-left: vw-calc1024(50);
         .s_top {padding-bottom: vw-calc1024(10);}
         strong {
           font-size: vw-calc1024(30);
         }
         .s_bottom {
           padding: vw-calc1024(40) 0;font-size: vw-calc1024(15);
         }
         .color_wrap {padding-bottom: vw-calc1024(30);
           img {margin-right: vw-calc1024(13);width: vw-calc1024(30);height: vw-calc1024(30);}
         }
       }
     }
   }
   .swiper-button-prev:after, .swiper-button-next:after{font-size: vw-calc1024(30);}
 
   #slide1, #slide3{
     .bg_txt{font-size: vw-calc1024(190);}
   }
   #slide1{
     .machine{width: vw-calc1024(280);}
   }
   #slide2{
     .bg_txt{font-size: vw-calc1024(170);}
     .machine{width: vw-calc1024(350);}
   }
   #slide3{
     .machine{width: vw-calc1024(300);}
   }
   #slide4,#slide5{
     .bg_txt{font-size: vw-calc1024(150);}
     .machine{width: vw-calc1024(400);}
   }
  }
  #cnt3{
    h2{font-size: vw-calc1024(55);}
    .shot_size{visibility: hidden;overflow: hidden;max-height: 0;}
    .swiper-slide{
      .capsual{
        strong{font-size: vw-calc1024(30);}
        .level{
          p:first-child {font-size: vw-calc1024(20);}
          p:last-of-type{display: none;}
          a{font-size: vw-calc1024(15);padding: vw-calc1024(5);}
        }
        img{width: 60%;right: -3px;}
        &::before{
          background: url(../images/PC/cnt3/capsual_ico_small.png);width: 59px;height: 37px;
        }
      }
    }
  }
  #cnt4{
    height: 100%;
    #effect{
      .pic{height: vw-calc1024(768);background: url(../images/PC/cnt4/thumbnail_L1.jpg) 50% 50% / cover;}
    }
  }
  #cnt5{
    .bg_txt{padding-bottom: vw-calc1024(30);}
    .vertuo{
      height: 100%;
      .vertuo_main{height: vw-calc1024(150);}
    }
    
    .original{
      height: 100%;
      .vertuo_main{height: vw-calc1024(150);}
      
    }
  }
}

//모바일
@media screen and (max-width: 770px) {
  #wrap{
    button{padding: vw-calc770(5) vw-calc770(10);font-size: 12px;}
  }
  #cnt1 {
    height: 80vh;
    .txt_wrap {
      position: absolute;top: 54%;left: vw-calc770(60);
      h1 {font-size: 43px;}
    }
    .machine {width: vw-calc770(250);left: 60%;}
    .move_bg {
      img {
        top:100px;left: 50%;width: vw-calc770(650);height: vw-calc770(650);
      }
    }
    #icon {visibility: hidden;overflow: hidden;max-height: 0;}
  }

  #cnt2 {
     .swiper-container{
       .swiper-slide {
      .d_f {
        .side_txt {padding-left: 50px;
          strong {font-size: vw-calc770(50);}
          .s_bottom {display: none;}
          .color_wrap {padding: 40px 0 20px 0;
          }
        }
        .product {
          .bg_txt {opacity: 0.1;}
          img{height: 100%;}
        }
      }
       }
       .controller{right: 30px;}
     }
    
  }

  #cnt3{
    .swiper-slide{
      .capsual{
        height:80px;width: vw-calc770(150);
      }
      &.swiper-slide-active{
        .capsual{
          height: vw-calc770(210);
        }
      }
    }
    .swiper-button-prev:after, .swiper-button-next:after{font-size: 20px;}
  }

  #cnt4{
    #effect{
        .pic_wrap{
          .pic1, .pic2, .pic3{height: 50vh;}
          .pic1, .pic3{background-position: center left;}
        }
    }
  }

  #cnt5{
    .vertuo{
      padding: 0;
      img{width: 80%;}
    }
    
    .original{
      padding: 50px;
      img{width: 80%;}
    }
  }

  #cnt6{
    .cover{
      height: vw-calc770(301);
      .txt_cover{
        padding-top: vw-calc770(100);
        p{
          font-size: vw-calc770(40);
        }
        button{margin-top: vw-calc770(40);}
      }
    }
  }
}


//모바일
@media screen and (max-width: 414px) {
  #cnt1 {
    height: 60vh;
    .move_bg {
      img {top: 120px;}
    }
  }
  #cnt2 {
  .color_wrap {padding: 20px 0 10px 0;}
  }
  #cnt3{
    .main_txt{padding-bottom: 50px;}
  }
  #cnt4{
    .txt_wrap2, #effect{visibility: hidden;overflow: hidden;max-height: 0;}
  }
  #cnt5{
    .vertuo{
      img{width: 95%;margin-left: 20px;}
    }
    .txt_wrap{
      padding: 75px;
      p{line-height: 1.2;}
    }
    .original{
      padding: 0;
      img{width: 70%;margin-right: 40px;}
    }
  }
}

@media screen and (max-width: 375px) {

}