#cnt1 {
  overflow: hidden;
  position: relative;
  background: url("../images/PC/cnt1/bg.jpg") no-repeat center center/cover;
  height: 100vh; }
  #cnt1 .txt_wrap {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 120px; }
    #cnt1 .txt_wrap h1 {
      font-family: playfair;
      font-size: 90px;
      font-weight: 700;
      color: #535f4f;
      padding-bottom: 20px; }
      #cnt1 .txt_wrap h1 span {
        color: #918270; }
  #cnt1 .machine {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    width: 400px;
    right: 30%;
    top: 50%;
    z-index: 10; }
  #cnt1 .move_bg img {
    position: absolute;
    top: 0;
    left: 45%;
    width: 1200px;
    height: 1200px;
    opacity: 0.3;
    animation: circle_text 30s infinite linear; }
@keyframes circle_text {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
  #cnt1 #icon {
    font-size: 20px; }
    #cnt1 #icon #gran, #cnt1 #icon #milk {
      position: relative;
      position: absolute; }
    #cnt1 #icon #gran {
      top: 40%;
      right: 10%; }
      #cnt1 #icon #gran img {
        position: absolute;
        top: 50px;
        right: -50px;
        width: 96px;
        height: 96px; }
    #cnt1 #icon #milk {
      top: 60%;
      right: 10%; }
      #cnt1 #icon #milk img {
        position: absolute;
        top: 60px;
        right: -50px;
        width: 55px;
        height: 62px; }

#cnt2 {
  color: #7d7d7d;
  padding: 200px 0; }
  #cnt2 .main_txt {
    padding-bottom: 0; }
  #cnt2 .swiper-container {
    position: relative;
    padding-top: 100px; }
    #cnt2 .swiper-container .swiper-slide .d_f {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      width: 100%;
      height: 100%; }
      #cnt2 .swiper-container .swiper-slide .d_f .side_txt {
        width: 40%; }
        #cnt2 .swiper-container .swiper-slide .d_f .side_txt .s_top {
          padding-bottom: 10px; }
        #cnt2 .swiper-container .swiper-slide .d_f .side_txt strong {
          font-size: 40px;
          color: #918270; }
        #cnt2 .swiper-container .swiper-slide .d_f .side_txt .s_bottom {
          padding: 40px 0;
          letter-spacing: normal;
          line-height: 1.5; }
        #cnt2 .swiper-container .swiper-slide .d_f .side_txt .color_wrap {
          padding-bottom: 40px; }
          #cnt2 .swiper-container .swiper-slide .d_f .side_txt .color_wrap img {
            margin-right: 10px; }
      #cnt2 .swiper-container .swiper-slide .d_f .product {
        position: relative; }
        #cnt2 .swiper-container .swiper-slide .d_f .product .bg_txt {
          font-weight: 700;
          opacity: 0.2; }
        #cnt2 .swiper-container .swiper-slide .d_f .product .machine {
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          transform: translateX(-50%);
          position: absolute;
          top: 0px;
          left: 50%; }
    #cnt2 .swiper-container .controller {
      position: absolute;
      top: 15%;
      right: 10px; }
      #cnt2 .swiper-container .controller .swiper-button-wrap {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex; }
        #cnt2 .swiper-container .controller .swiper-button-wrap .swiper-button-prev, #cnt2 .swiper-container .controller .swiper-button-wrap .swiper-button-next {
          position: static; }
        #cnt2 .swiper-container .controller .swiper-button-wrap .swiper-button-prev::after, #cnt2 .swiper-container .controller .swiper-button-wrap .swiper-button-next::after {
          font-size: 2em;
          font-family: xeicon; }
        #cnt2 .swiper-container .controller .swiper-button-wrap .swiper-button-prev::after {
          content: "\e93c"; }
        #cnt2 .swiper-container .controller .swiper-button-wrap .swiper-button-next::after {
          content: "\e93f"; }
      #cnt2 .swiper-container .controller .swiper-auto-wrap .swiper-auto-play, #cnt2 .swiper-container .controller .swiper-auto-wrap .swiper-auto-pause {
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        top: 0;
        left: -10px; }
  #cnt2 #slide1 .bg_txt, #cnt2 #slide2 .bg_txt, #cnt2 #slide3 .bg_txt, #cnt2 #slide4 .bg_txt, #cnt2 #slide5 .bg_txt {
    font-size: 190px; }
  #cnt2 #slide1 .machine {
    width: 280px; }
  #cnt2 #slide2 .bg_txt {
    font-size: 170px; }
  #cnt2 #slide2 .machine {
    width: 350px; }
  #cnt2 #slide3 .machine {
    width: 300px; }
  #cnt2 #slide4 .bg_txt, #cnt2 #slide5 .bg_txt {
    font-size: 150px;
    text-align: center; }
  #cnt2 #slide4 .machine, #cnt2 #slide5 .machine {
    width: 400px; }

#cnt3 {
  position: relative;
  color: #7d7d7d;
  padding-bottom: 200px; }
  #cnt3 .shot_size {
    position: absolute;
    top: 180px;
    right: 0;
    padding-right: 100px;
    text-align: right; }
    #cnt3 .shot_size div {
      padding-top: 10px; }
      #cnt3 .shot_size div span {
        padding-right: 30px; }
  #cnt3 .swiper-slide {
    height: 400px;
    display: flex;
    align-items: flex-end; }
    #cnt3 .swiper-slide .capsual {
      position: relative;
      border: 1px solid #7d7d7d;
      box-shadow: 10px 5px 5px #7d7d7d;
      width: 253px;
      height: 168px;
      text-align: center;
      margin: 0 auto;
      transition: height 0.5s; }
      #cnt3 .swiper-slide .capsual strong {
        display: inline-block;
        font-size: 30px;
        padding: 20px 0; }
      #cnt3 .swiper-slide .capsual img {
        opacity: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        transition: opacity 0.3s; }
      #cnt3 .swiper-slide .capsual .level {
        position: relative;
        opacity: 0; }
        #cnt3 .swiper-slide .capsual .level p {
          padding: 5px 15px; }
        #cnt3 .swiper-slide .capsual .level p:first-child {
          color: #918270;
          font-size: 17px;
          font-weight: 500; }
        #cnt3 .swiper-slide .capsual .level p:last-of-type {
          font-size: 13px;
          line-height: 1.5;
          font-family: karla; }
        #cnt3 .swiper-slide .capsual .level a {
          position: absolute;
          bottom: -60px;
          left: 20px;
          font-size: 15px;
          color: #535f4f;
          border: 1px solid #535f4f;
          border-radius: 5px;
          padding: 5px;
          z-index: 10; }
          #cnt3 .swiper-slide .capsual .level a:hover, #cnt3 .swiper-slide .capsual .level a:focus {
            color: #fff;
            background: #535f4f; }
      #cnt3 .swiper-slide .capsual .level span:not(:first-child) {
        display: inline-block;
        background: #7d7d7d;
        width: 17px;
        height: 17px;
        margin: 5px; }
      #cnt3 .swiper-slide .capsual::before {
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
        content: "";
        position: absolute;
        bottom: 10px;
        background: url(../images/PC/cnt3/capsual_ico.png) no-repeat;
        width: 94px;
        height: 58px;
        left: 50%; }
    #cnt3 .swiper-slide.swiper-slide-active .capsual {
      height: 400px; }
      #cnt3 .swiper-slide.swiper-slide-active .capsual::before {
        opacity: 0; }
      #cnt3 .swiper-slide.swiper-slide-active .capsual img {
        opacity: 1; }
      #cnt3 .swiper-slide.swiper-slide-active .capsual .level {
        opacity: 1; }
    #cnt3 .swiper-slide.swiper-slide-active #capsual_gionio strong {
      color: #e26713; }
    #cnt3 .swiper-slide.swiper-slide-active #capsual_mexico strong {
      color: #3a5730; }
    #cnt3 .swiper-slide.swiper-slide-active #capsual_odacio strong {
      color: #00516d; }
    #cnt3 .swiper-slide.swiper-slide-active #capsual_solelio strong {
      color: #e4b80a; }
    #cnt3 .swiper-slide.swiper-slide-active #capsual_elvazio strong {
      color: #a96d96; }

#cnt4 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: no-wrap;
  flex-wrap: no-wrap; }
  #cnt4 .txt_wrap2 {
    width: 50%;
    padding-left: 50px;
    height: 90vh;
    position: sticky;
    top: 40%; }
    #cnt4 .txt_wrap2 h4 {
      font-size: 65px;
      color: #535f4f; }
    #cnt4 .txt_wrap2 p {
      margin: 30px 0;
      line-height: 1.5; }
  #cnt4 #effect {
    width: 50%;
    top: 0; }
    #cnt4 #effect .pic_wrap .pic1, #cnt4 #effect .pic_wrap .pic2, #cnt4 #effect .pic_wrap .pic3 {
      background: no-repeat center center;
      height: 90vh;
      margin-bottom: 10px; }
    #cnt4 #effect .pic_wrap .pic1 {
      background-image: url(../images/PC/cnt4/greenmoment1.jpg); }
    #cnt4 #effect .pic_wrap .pic2 {
      background-image: url(../images/PC/cnt4/greenmoment2.jpg); }
    #cnt4 #effect .pic_wrap .pic3 {
      background-image: url(../images/PC/cnt4/greenmoment3.jpg); }

#cnt5 {
  height: 100%;
  color: #7d7d7d;
  cursor: url("../images/PC/cnt1/mouse.png"), auto;
  padding: 200px 0; }
  #cnt5 .bg_txt {
    font-family: playfair;
    color: #535f4f;
    font-size: 70px;
    text-align: center;
    font-weight: 700;
    padding-bottom: 100px; }
  #cnt5 h5 {
    position: relative;
    font-family: spoqa;
    font-size: 70px; }
    #cnt5 h5::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 350px;
      height: 10px;
      background: #535f4f;
      opacity: 0.6;
      z-index: -1; }
  #cnt5 P {
    padding: 20px 0;
    font-size: 50px; }
  #cnt5 .vertuo, #cnt5 .original {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 100px 50px; }
    #cnt5 .vertuo > a::after, #cnt5 .original > a::after {
      content: "\eaee";
      font-family: "xeicon";
      font-size: 2em;
      opacity: 0; }
  #cnt5 .vertuo {
    height: 500px; }
    #cnt5 .vertuo .vertuo_main {
      padding-left: 70px; }
      #cnt5 .vertuo .vertuo_main:hover {
        transform: rotate(-5deg); }
        #cnt5 .vertuo .vertuo_main:hover::after {
          opacity: 1;
          color: #918270; }
    #cnt5 .vertuo h5 {
      color: #535f4f; }
  #cnt5 .txt_wrap {
    padding: 80px; }
  #cnt5 .original {
    text-align: right;
    height: 500px; }
    #cnt5 .original .original_main:hover {
      transform: rotate(5deg); }
      #cnt5 .original .original_main:hover::after {
        opacity: 1;
        color: #68787a; }
    #cnt5 .original h5 {
      color: #918270; }
      #cnt5 .original h5::before {
        background-color: #ddd0c1; }

#cnt6 .cover {
  position: relative;
  text-align: center;
  background: url("../images/PC/cnt5/viewmore.jpg") no-repeat top left/cover;
  width: 100%;
  height: 533px; }
  #cnt6 .cover .txt_cover {
    padding-top: 100px;
    line-height: 2; }
    #cnt6 .cover .txt_cover p {
      font-size: 40px;
      background: linear-gradient(to right, #535f4f, #918270);
      font-weight: 700;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    #cnt6 .cover .txt_cover button {
      margin-top: 40px; }

#dim, .md_cnt {
  position: fixed;
  z-index: 1000; }

#dim {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); }

.md_cnt {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%; }
  .md_cnt .btn_close_modal {
    position: absolute;
    top: -10px;
    right: 0; }

@media screen and (max-width: 1440px) {
  #cnt1 .txt_wrap {
    left: 8.3333333333vw; }
    #cnt1 .txt_wrap h1 {
      font-size: 6.25vw;
      padding-bottom: 1.3888888889vw; }
  #cnt1 .machine {
    top: 55%;
    left: 50%;
    width: 350px; }
  #cnt1 .move_bg img {
    width: 83.3333333333vw;
    height: 83.3333333333vw; }
  #cnt1 #icon {
    font-size: 1.3888888889vw; }
    #cnt1 #icon #gran img {
      top: 3.4722222222vw;
      right: -3.4722222222vw;
      width: 6.6666666667vw;
      height: 6.6666666667vw; }
    #cnt1 #icon #milk img {
      top: 4.1666666667vw;
      right: -3.4722222222vw;
      width: 3.8194444444vw;
      height: 4.3055555556vw; }

  #cnt3 {
    padding-bottom: 13.8888888889vw; }
    #cnt3 .shot_size {
      top: 12.5vw;
      padding-right: 6.9444444444vw; }
      #cnt3 .shot_size div {
        padding-top: 0.6944444444vw; }
        #cnt3 .shot_size div span {
          padding-right: 2.0833333333vw; }
    #cnt3 .swiper-slide {
      height: 27.7777777778vw; }
      #cnt3 .swiper-slide .capsual {
        border: 0.0694444444vw solid #7d7d7d;
        box-shadow: 0.6944444444vw 0.3472222222vw 0.3472222222vw #7d7d7d;
        width: 17.5694444444vw;
        height: 10.4166666667vw; }
        #cnt3 .swiper-slide .capsual strong {
          font-size: 2.0833333333vw;
          padding: 1.3888888889vw 0; }
        #cnt3 .swiper-slide .capsual .level p {
          padding: 0.3472222222vw 1.0416666667vw; }
        #cnt3 .swiper-slide .capsual .level p:first-child {
          font-size: 1.1805555556vw; }
        #cnt3 .swiper-slide .capsual .level p:last-of-type {
          font-size: 0.9027777778vw; }
        #cnt3 .swiper-slide .capsual .level a {
          bottom: -4.1666666667vw;
          left: 2.0833333333vw;
          font-size: 1.1111111111vw;
          font-size: 1.25vw; }
          #cnt3 .swiper-slide .capsual .level a::before {
            bottom: -0.3472222222vw;
            height: 0.0694444444vw; }
        #cnt3 .swiper-slide .capsual .level span:not(:first-child) {
          width: 1.1805555556vw;
          height: 1.1805555556vw;
          margin: 0.3472222222vw; }
      #cnt3 .swiper-slide.swiper-slide-active .capsual {
        height: 24.3055555556vw; }

  #cnt4 .txt_wrap2 {
    padding-left: 3.4722222222vw; }
    #cnt4 .txt_wrap2 h4 {
      font-size: 48px; }
    #cnt4 .txt_wrap2 p {
      margin: 2.0833333333vw 0; }

  #cnt5 {
    padding: 6.9444444444vw 0; }
    #cnt5 .bg_txt {
      font-size: 4.8611111111vw; }
    #cnt5 h5 {
      font-size: 4.8611111111vw; }
      #cnt5 h5::before {
        width: 24.3055555556vw;
        height: 0.6944444444vw; }
    #cnt5 P {
      padding: 1.3888888889vw 0;
      font-size: 3.4722222222vw; }
    #cnt5 .vertuo {
      height: 34.7222222222vw; }
      #cnt5 .vertuo .vertuo_main {
        padding-left: 4.8611111111vw; }
    #cnt5 .original {
      padding-right: 4.8611111111vw;
      height: 34.7222222222vw; } }
@media screen and (max-width: 1350px) {
  #cnt1 .txt_wrap {
    left: 60px; }
    #cnt1 .txt_wrap h1 {
      font-size: 6.6666666667vw;
      padding-bottom: 1.4814814815vw; }
  #cnt1 .machine {
    top: 55%;
    left: 50%;
    width: 25.9259259259vw; }
  #cnt1 .move_bg img {
    top: 60px;
    width: 88.8888888889vw;
    height: 88.8888888889vw; }
  #cnt1 #icon #gran img {
    top: 3.7037037037vw;
    right: -3.7037037037vw;
    width: 7.1111111111vw;
    height: 7.1111111111vw; }
  #cnt1 #icon #milk img {
    top: 4.4444444444vw;
    right: -3.7037037037vw;
    width: 4.0740740741vw;
    height: 4.5925925926vw; }

  #cnt2 {
    padding: 14.8148148148vw 0; }
    #cnt2 .swiper-slide .d_f .side_txt .s_top {
      padding-bottom: 0.7407407407vw; }
    #cnt2 .swiper-slide .d_f .side_txt strong {
      font-size: 2.962962963vw;
      color: #918270; }
    #cnt2 .swiper-slide .d_f .side_txt .s_bottom {
      padding: 2.962962963vw 0; }
    #cnt2 .swiper-slide .d_f .side_txt .color_wrap {
      padding-bottom: 2.962962963vw; }
      #cnt2 .swiper-slide .d_f .side_txt .color_wrap img {
        margin-right: 0.7407407407vw; }
    #cnt2 #slide1 .bg_txt, #cnt2 #slide2 .bg_txt, #cnt2 #slide3 .bg_txt, #cnt2 #slide4 .bg_txt, #cnt2 #slide5 .bg_txt {
      font-size: 14.0740740741vw; }
    #cnt2 #slide1 .machine {
      width: 20.7407407407vw; }
    #cnt2 #slide2 .bg_txt {
      font-size: 12.5925925926vw; }
    #cnt2 #slide2 .machine {
      width: 25.9259259259vw; }
    #cnt2 #slide3 .machine {
      width: 22.2222222222vw; }
    #cnt2 #slide4 .bg_txt, #cnt2 #slide5 .bg_txt {
      font-size: 11.1111111111vw; }
    #cnt2 #slide4 .machine, #cnt2 #slide5 .machine {
      width: 29.6296296296vw; }

  #cnt3 .capsual img {
    width: 60%; }

  #cnt4 .txt_wrap2 h4 {
    font-size: 3.5555555556vw; }
  #cnt4 .txt_wrap2 p {
    font-size: 1.1851851852vw; }

  #cnt5 .vertuo .vertuo_main {
    height: 18.5185185185vw; }
  #cnt5 .original {
    padding-top: 100px; }
    #cnt5 .original .vertuo_main {
      height: 18.5185185185vw; }

  #cnt6 .cover {
    background: url("../images/PC/cnt5/viewmore_tablet.jpg") no-repeat top left/cover;
    width: 100%;
    height: 301px; }
    #cnt6 .cover .txt_cover button {
      margin-top: 40px; } }
@media screen and (max-width: 1024px) {
  #wrap button {
    padding: 0.78125vw 1.46484375vw;
    font-size: 1.26953125vw; }

  #cnt1 {
    background: url("../images/T/cnt1/bg.jpg") no-repeat center center/cover;
    height: 100vh; }
    #cnt1 .txt_wrap {
      position: absolute;
      top: 54%;
      left: 5.859375vw; }
      #cnt1 .txt_wrap h1 {
        font-size: 6.8359375vw;
        padding-bottom: 1.953125vw; }
    #cnt1 .machine {
      width: 280px;
      left: 60%; }
    #cnt1 .move_bg img {
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 50%;
      width: 700px;
      height: 700px; }
    #cnt1 #icon {
      display: none; }

  #cnt2 h2 {
    font-size: 5.37109375vw; }
  #cnt2 .swiper-slide .d_f .side_txt {
    padding-left: 4.8828125vw; }
    #cnt2 .swiper-slide .d_f .side_txt .s_top {
      padding-bottom: 0.9765625vw; }
    #cnt2 .swiper-slide .d_f .side_txt strong {
      font-size: 2.9296875vw; }
    #cnt2 .swiper-slide .d_f .side_txt .s_bottom {
      padding: 3.90625vw 0;
      font-size: 1.46484375vw; }
    #cnt2 .swiper-slide .d_f .side_txt .color_wrap {
      padding-bottom: 2.9296875vw; }
      #cnt2 .swiper-slide .d_f .side_txt .color_wrap img {
        margin-right: 1.26953125vw;
        width: 2.9296875vw;
        height: 2.9296875vw; }
  #cnt2 .swiper-button-prev:after, #cnt2 .swiper-button-next:after {
    font-size: 2.9296875vw; }
  #cnt2 #slide1 .bg_txt, #cnt2 #slide3 .bg_txt {
    font-size: 18.5546875vw; }
  #cnt2 #slide1 .machine {
    width: 27.34375vw; }
  #cnt2 #slide2 .bg_txt {
    font-size: 16.6015625vw; }
  #cnt2 #slide2 .machine {
    width: 34.1796875vw; }
  #cnt2 #slide3 .machine {
    width: 29.296875vw; }
  #cnt2 #slide4 .bg_txt, #cnt2 #slide5 .bg_txt {
    font-size: 14.6484375vw; }
  #cnt2 #slide4 .machine, #cnt2 #slide5 .machine {
    width: 39.0625vw; }

  #cnt3 h2 {
    font-size: 5.37109375vw; }
  #cnt3 .shot_size {
    visibility: hidden;
    overflow: hidden;
    max-height: 0; }
  #cnt3 .swiper-slide .capsual strong {
    font-size: 2.9296875vw; }
  #cnt3 .swiper-slide .capsual .level p:first-child {
    font-size: 1.953125vw; }
  #cnt3 .swiper-slide .capsual .level p:last-of-type {
    display: none; }
  #cnt3 .swiper-slide .capsual .level a {
    font-size: 1.46484375vw;
    padding: 0.48828125vw; }
  #cnt3 .swiper-slide .capsual img {
    width: 60%;
    right: -3px; }
  #cnt3 .swiper-slide .capsual::before {
    background: url(../images/PC/cnt3/capsual_ico_small.png);
    width: 59px;
    height: 37px; }

  #cnt4 {
    height: 100%; }
    #cnt4 #effect .pic {
      height: 75vw;
      background: url(../images/PC/cnt4/thumbnail_L1.jpg) 50% 50%/cover; }

  #cnt5 .bg_txt {
    padding-bottom: 2.9296875vw; }
  #cnt5 .vertuo {
    height: 100%; }
    #cnt5 .vertuo .vertuo_main {
      height: 14.6484375vw; }
  #cnt5 .original {
    height: 100%; }
    #cnt5 .original .vertuo_main {
      height: 14.6484375vw; } }
@media screen and (max-width: 770px) {
  #wrap button {
    padding: 0.6493506494vw 1.2987012987vw;
    font-size: 12px; }

  #cnt1 {
    height: 80vh; }
    #cnt1 .txt_wrap {
      position: absolute;
      top: 54%;
      left: 7.7922077922vw; }
      #cnt1 .txt_wrap h1 {
        font-size: 43px; }
    #cnt1 .machine {
      width: 32.4675324675vw;
      left: 60%; }
    #cnt1 .move_bg img {
      top: 100px;
      left: 50%;
      width: 84.4155844156vw;
      height: 84.4155844156vw; }
    #cnt1 #icon {
      visibility: hidden;
      overflow: hidden;
      max-height: 0; }

  #cnt2 .swiper-container .swiper-slide .d_f .side_txt {
    padding-left: 50px; }
    #cnt2 .swiper-container .swiper-slide .d_f .side_txt strong {
      font-size: 6.4935064935vw; }
    #cnt2 .swiper-container .swiper-slide .d_f .side_txt .s_bottom {
      display: none; }
    #cnt2 .swiper-container .swiper-slide .d_f .side_txt .color_wrap {
      padding: 40px 0 20px 0; }
  #cnt2 .swiper-container .swiper-slide .d_f .product .bg_txt {
    opacity: 0.1; }
  #cnt2 .swiper-container .swiper-slide .d_f .product img {
    height: 100%; }
  #cnt2 .swiper-container .controller {
    right: 30px; }

  #cnt3 .swiper-slide .capsual {
    height: 80px;
    width: 19.4805194805vw; }
  #cnt3 .swiper-slide.swiper-slide-active .capsual {
    height: 27.2727272727vw; }
  #cnt3 .swiper-button-prev:after, #cnt3 .swiper-button-next:after {
    font-size: 20px; }

  #cnt4 #effect .pic_wrap .pic1, #cnt4 #effect .pic_wrap .pic2, #cnt4 #effect .pic_wrap .pic3 {
    height: 50vh; }
  #cnt4 #effect .pic_wrap .pic1, #cnt4 #effect .pic_wrap .pic3 {
    background-position: center left; }

  #cnt5 .vertuo {
    padding: 0; }
    #cnt5 .vertuo img {
      width: 80%; }
  #cnt5 .original {
    padding: 50px; }
    #cnt5 .original img {
      width: 80%; }

  #cnt6 .cover {
    height: 39.0909090909vw; }
    #cnt6 .cover .txt_cover {
      padding-top: 12.987012987vw; }
      #cnt6 .cover .txt_cover p {
        font-size: 5.1948051948vw; }
      #cnt6 .cover .txt_cover button {
        margin-top: 5.1948051948vw; } }
@media screen and (max-width: 414px) {
  #cnt1 {
    height: 60vh; }
    #cnt1 .move_bg img {
      top: 120px; }

  #cnt2 .color_wrap {
    padding: 20px 0 10px 0; }

  #cnt3 .main_txt {
    padding-bottom: 50px; }

  #cnt4 .txt_wrap2, #cnt4 #effect {
    visibility: hidden;
    overflow: hidden;
    max-height: 0; }

  #cnt5 .vertuo img {
    width: 95%;
    margin-left: 20px; }
  #cnt5 .txt_wrap {
    padding: 75px; }
    #cnt5 .txt_wrap p {
      line-height: 1.2; }
  #cnt5 .original {
    padding: 0; }
    #cnt5 .original img {
      width: 70%;
      margin-right: 40px; } }

/*# sourceMappingURL=main.css.map */
